<!-- Header File -->
<% include ../partials/header %>
<!-- Header File -->
<div class="container text-center mt-3">
    <div class="row jumbotron m-1 p-0">
        <div class="p-0 hidden-md col-lg-8">
            <a href="/files/<%= campground.randomFolder %>/<%= campground.image %>" data-lightbox=" <%=campground.image %>">
                <img class="info-page-image" src="/files/<%= campground.randomFolder %>/<%= campground.image %>">
            </a>
            <h5 class="smallText mr-2">
                Added By:
                <%= campground.owner %> -
                <%= campground.date.toDateString() %>
            </h5>
        </div>
        <div class="hidden-md col-lg-4 pt-0 mt-3">
            <h4>
                <%= campground.name %>
            </h4>
            <%= campground.location %>
            <hr>
            <% if(campground.price) { %>
            <p><strong>
                    Price: $
                    <%= campground.price %>
                </strong>
            </p>
            <% }; %>
            <p>
                <%- campground.information %>

                <% if(currentUser && currentUser.username == campground.owner || currentUser.username == "Brad") { %>
                <div class="text-right mb-1">
                    <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-warning">edit</a>
                    <form id="deleteForm" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST" class="text-right mb-1 mr-1 p-0">
                        <input type="submit" value="delete" class="btn btn-sm btn-danger">
                    </form>
                </div>
                <% }; %>
            </p>
        </div>
        <div class="container">
            <% if(!currentUser) { %>
            <p>
                <h5>Please login or register to post comments</h5>
            </p>
            <% } else { %>
            <form action="/campgrounds/<%=campground._id%>/comments" method="POST">
                <span>
                    <strong>
                        <%= currentUser.username %>:
                    </strong>
                </span>
                <input type="text" name="comment[text]" placeholder="Comment" rows="1" maxlength="100" required></textarea>
                <input type="submit" value="Submit" class="button btn-sm btn-dark">
            </form>
            <% }; %>
        </div>
        <ul class="m-0 text-left container list-unstyled">
            <hr>
            <% campground.comments.forEach((comment) => { %>
            <li>
                <strong>
                    <%= comment.author %>:
                </strong>
                <%= comment.text %>
                <span class="smallText">
                    <%= comment.date.toDateString(); %>
                </span>
                <hr>
            </li>
            <% }); %>
        </ul>
    </div>
</div>
<p class="text-center"> <a class="btn btn-dark btn-lg" href="/campgrounds">Back</a> </p>
<!-- Footer File -->
<% include ../partials/footer %>
<!-- Footer File -->