<!-- Header File -->
<% include ../partials/header %>
<!-- Header File -->
<div class="container text-center mt-3">
    <div class="row jumbotron m-1 p-0">
        <div class="p-0 hidden-md col-lg-8">
            <a href="/files/<%= campground.randomFolder %>/<%= campground.image %>" data-lightbox=" <%=campground.image %>">
                <img class="info-page-image" src="/files/<%= campground.randomFolder %>/<%= campground.image %>">
            </a>
            <h5 class="smallText mr-2">
                Added:
                <%= campground.date.toDateString() %>
            </h5>
        </div>
        <div class="hidden-md col-lg-4 pt-0 mt-3">
            <h4>
                <%= campground.name %>
            </h4>
            <%= campground.location %>
            <hr>
            <p><strong>
                    Price:
                    $
                    <%= campground.price %>
                </strong>
            </p>
            <p>
                <%- campground.information %>
                <div class="text-right mb-1">
                    <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-success">edit</a>
                    <form id="deleteForm" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST" class="text-right mb-1 mr-1 p-0">
                        <button class="btn btn-sm btn-danger">delete</button>
                    </form>
                </div>
            </p>
        </div>
        <div class="container">
            <form action="/campgrounds/<%=campground._id%>/comments" method="POST">
                <input type="text" name="comment[author]" placeholder="Name" maxlength="40" required>
                <input type="text" name="comment[text]" placeholder="Comment" rows="1" required></textarea>
                <button class="button btn-sm btn-dark">Submit!</button>
            </form>
        </div>
        <ul class="m-0 text-left container list-unstyled">
            <hr>
            <% campground.comments.forEach((comment) => { %>
            <li>
                <strong>
                    <%= comment.author %>:
                </strong>
                <%= comment.text %>
                <span class="smallText">
                    <%= comment.date.toDateString(); %></span>
                <hr>
            </li>
            <% }); %>
        </ul>
    </div>
</div>
<p class="text-center"> <a class="btn btn-dark btn-lg" href="/campgrounds">Back</a> </p>
<!-- Footer File -->
<% include ../partials/footer %>
<!-- Footer File -->